@media screen and (max-width: 979px), screen and (max-height: 649px) {
    * {
        opacity: 1 !important;
    }

    .slimScrollBar {
        display: none !important;
    }

    .popup {
        overflow: auto;
    }

    .popup .logo {
        margin: 20px auto 0;
    }

    .fp-scrollable, .fp-tableCell, .section, .slimScrollDiv {
        height: auto !important;
    }

    #preorder_now {
        position: relative !important;
        display: block !important;
        top: 1px;
    }

    #footer {
        position: absolute !important;
        bottom: -90px !important;
    }

    .overlay {
        height: 2000px;
    }

    .middle {
        display: block;
    }

    .popup {
        margin: 30px 0 0;
    }

    #section_0 {
        background: url('../images/bg_1.jpg') no-repeat center center;
        background-size: cover;
    }

    #section_0 .slides-control {
        display: none;
    }
}