@media screen and (max-width: 1169px) {

    body {
        min-width: 980px;
    }

    .container {
        width: 980px;
    }

    .section {
        min-width: 980px;
    }

    .section#section_1 .left {
        width: 430px;
    }

    .section#section_1 .right {
         width: 490px;
     }

    #menu_top {
        min-width: 980px;
    }

    #footer {
        min-width: 980px;
    }

    .section#section_2 .items .item {
        width: 273px;
     }

    .section#section_3 .items .item {
        width: 273px;
    }
}