@media screen and (max-height: 749px) {
    .popup .title {
        margin: 30px 0 29px;
    }

    .popup form > div.checkbox {
        margin: 18px 0 0;
    }

    .popup form > div a.submit {
        margin: 42px 0 20px 6px;
    }

    .popup.partner form > div a.submit {
        margin: 12px 0 30px 6px;
    }
}