@import 'font/font.css';

html, body {
    height: 100%;
}

body {
    font-family: source_sans_proregular;
    color: #333333;
    min-width: 1170px;
}

body * {
    font-weight: normal !important;
    font-style: normal !important;
}

body b, body strong {
    font-family: 'source_sans_prosemibold' !important;
}

body i {
    font-family: 'source_sans_proitalic' !important;
}

body b i, body strong i i,
body i b, body i strong {
    font-family: 'source_sans_proSBdIt' !important;
}

a, a:visited, a:active {
    outline: none;
}

.section {
    position: relative;
    z-index: 1;
    min-width: 1170px;
    overflow-x: hidden;
}

.section#section_0 {
    z-index: 2;
    text-align: center;
}

.section#section_0 .container {
    margin: 35px auto;
}

.section#section_5 .container {
    margin: 120px auto 90px;
}

.section#section_0 .container .logo {
    display: inline-block;
    position: relative;
    width: 144px;
    height: 80px;
    overflow: hidden;
    margin: 0 auto;
}

.section#section_0 .container h1 {
    font-family: source_sans_probold;
    font-size: 36px;
    line-height: 40px;
    color: #cc0e59;
    margin: 60px 0 0;
    padding: 0;
}

.section#section_0 .teasers {
    line-height: 28px;
    font-size: 18px;
    color: #383838;
    margin: 60px 0 55px;
}

.section#section_0 .pre-order {
    font-family: source_sans_probold;
    display: inline-block;
    background: #cc0e59;
    color: #fff;
    line-height: 36px;
    font-size: 18px;
    padding: 12px 52px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    top: 24px;
}

/*.section#section_0 .pre-order:hover {*/
    /*border: 1px #cc0e59 solid;*/
    /*color: #cc0e59;*/
    /*background: #fff;*/
    /*padding: 11px 51px;*/
    /*text-decoration: none;*/
/*}*/

.section#section_0 .pre-order::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: #ff1748;
    z-index: -1;
    -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}

.section#section_0 .pre-order:hover {
    text-decoration: none;
    cursor: pointer;
}

.section#section_0 .pre-order:hover::before {
    opacity: 1;
    background-color: #ff1748;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.section#section_0 .separator {
    display: inline-block;
    margin: 0 35px;
    font-size: 18px;
}

.section#section_0 .learn-more {
    font-family: source_sans_probold;
    display: inline-block;
    color: #383838;
    font-size: 18px;
    line-height: 16px;
    border-bottom: 1px #383838 solid;
    margin: 0 124px 0 7px;
}

.section#section_0 .learn-more:hover {
    text-decoration: none;
    color: #cc0e59;
    border-bottom: 1px #cc0e59 solid;
    cursor: pointer;
}

.section#section_1 .left {
    width: 495px;
    float: left;
}

.section#section_1 .left > div > div {
    -webkit-border-radius: 100%;
    border-radius: 100%;
    display: block;
    overflow: hidden;
    width: 301px;
    height: 301px;
    border: 10px solid #aa134f;
    position: relative;
    left: -10px;
    z-index: 1;
    margin: -10px 0 0;
}

.section#section_1 .left > div > div + div {
    width: 281px;
    height: 281px;
    left: 108px;
    top: -100px;
    border: 0;
    z-index: 0;
    margin: 0 0 -100px;
}

.section#section_1 .right {
    width: 675px;
    overflow: hidden;
    float: left;
    clear: right;
    vertical-align: middle;
    display: table-cell;
}

.section#section_1 .right h2 {
    margin: 0 0 40px;
    text-align: left;
}

.section#section_1 .right .content {
    color: #fff;
    line-height: 24px;
    font-size: 16px;
}

.section#section_1 .right .content p {
    padding: 0;
    margin: 24px 0 0;
}

.section#section_1 .left > div, .section#section_1 .right > div {
    display: table-cell;
    vertical-align: middle;
}

.section#section_2 .items {
    margin: 81px 0 0;
}

.section#section_2 .items .item {
    margin: 0 78px 0 0;
    width: 338px;
    overflow: hidden;
    float: left;
}

.section#section_2 .items .item:nth-child(3n) {
    margin: 0;
    clear: right;
}

.section#section_2 .items .item .image {
    position: relative;
    height: 186px;
    overflow: hidden;
}

.section#section_2 .items .item .image img {
    display: block;
    padding: 0;
    margin: 0 auto;
}

.section#section_2 .items .item .title {
    font-family: source_sans_prosemibold;
    text-align: center;
    color: #333333;
    line-height: 30px;
    font-size: 30px;
    margin: 45px 0 13px;
}

.section#section_2 .items .item .desc {
    font-family: source_sans_proregular;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    text-align: center;
}

.section#section_2 .items .item .desc p {
    margin: 0 0 12px;
    padding: 0px;
}

.section#section_3 .items {
    margin: 53px 0 0;
}

.section#section_3 .items .item {
    margin: 0 78px 0 0;
    width: 338px;
    overflow: hidden;
    float: left;
}

.section#section_3 .items .item:nth-child(3n) {
    margin: 0;
}

.section#section_3 .items .item .image {
    position: relative;
    height: 198px;
    width: 198px;
    margin: 0 auto;
    overflow: hidden;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.section#section_3 .items .item .image img {
    display: block;
    padding: 0;
    margin: 0 auto;
}

.section#section_3 .items .item .title {
    font-family: source_sans_prosemibold;
    text-align: center;
    color: #333333;
    line-height: 30px;
    font-size: 30px;
    margin: 40px 0 25px;
}

.section#section_3 .items .item .desc {
    font-family: source_sans_proregular;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    text-align: center;
}

.section#section_3 .items .item .desc p {
    margin: 0 0 12px;
    padding: 0px;
}

.section#section_3 .items .item .desc ul {
    display: block;
    margin: -3px 0 9px;
    padding: 0px;
    list-style: none;
}

.section#section_3 .items .item .desc ul li {
    display: inline;
    margin: 0;
    padding: 0 0 0 12px;
    line-height: 30px;
    background: url('../images/dot.png') no-repeat 0 11px;
    white-space: pre;
}

.section#section_3 .items .item .desc ul li::after {
    content: "\A";
    white-space: pre;
}

.section#section_3 .foot {
    clear: left;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
}

.section#section_3 .foot::before {
    content: " ";
    display: block;
    margin: 0 auto 38px;
    padding: 42px 0 0;
    height: 0;
    width: 153px;
    overflow: hidden;
    border-bottom: 1px solid #e8e8e8;
}

.section#section_4 {
    color: #fff;
}

.section#section_4 .top {
    text-align: center;
    font-family: source_sans_prolight;
    font-size: 30px;
    line-height: 30px;
    margin: 35px 0 0;
}

.section#section_4 .items {
    margin: 43px 0 0;
    text-align: center;
}

.section#section_4 .items > * {
    vertical-align: top;
}

.section#section_4 .items .item {
    margin: 0;
    overflow: hidden;
    text-align: center;
    width: 300px;
    display: inline-block;
}

.section#section_4 .items .separator {
    font-family: source_sans_prosemibold;
    width: 14px;
    display: inline-block;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    margin: 31px 0 0;
}

.section#section_4 .items .item .number {
    font-family: source_sans_probold;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    height: 92px;
    width: 92px;
    margin: 0 auto;
    border: 1px solid #e94083;
    line-height: 40px;
    font-size: 36px;
    padding: 25px 0;
    overflow: hidden;
}

.section#section_4 .items .item .title {
    font-family: source_sans_prosemibold;
    text-align: center;
    line-height: 30px;
    font-size: 24px;
    margin: 25px 0 0;
}

.section#section_4 .items .item ul {
    display: block;
    margin: 5px 0;
    padding: 0;
    list-style: none;
}

.section#section_4 .items .item ul li {
    font-family: source_sans_prolight;
    display: inline;
    margin: 0;
    padding: 0 0 0 12px;
    line-height: 30px;
    font-size: 24px;
    background: url('../images/dot2.png') no-repeat 0 14px;
    white-space: pre;
}

.section#section_4 .items .item ul li::after {
    content: "\A";
    white-space: pre;
}

.section#section_4 .foot {
    clear: left;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
    color: #ffb8d1;
}

.section#section_4 .foot::before {
    content: " ";
    display: block;
    margin: 0 auto 42px;
    padding: 44px 0 0;
    height: 0;
    width: 153px;
    overflow: hidden;
    border-bottom: 1px solid #e23b7e;
}

.section#section_4 .foot p {
    padding: 0;
    margin: 0;
}

.section#section_5 .items {
    margin: 44px 0 0;
    text-align: center;
}

.section#section_5 .items > * {
    vertical-align: top;
}

.section#section_5 .items .item {
    overflow: hidden;
    text-align: center;
    width: 200px;
    display: inline-block;
    margin: 0 25px;
}

.section#section_5 .items .item .image {
    margin: 0;
    overflow: hidden;
}

.section#section_5 .items .item .desc {
    margin: 19px 0 0;
}

.section#section_5 .items .item .desc a {
    font-family: source_sans_prosemibold;
    display: block;
    line-height: 30px;
    font-size: 24px;
    color: #333333;
}

.section#section_5 .items .item .desc a:hover {
    color: #cc0e59;
    text-decoration: none;
}

.section#section_5 .foot {
    text-align: center;
    position: relative;
    z-index: 3;
}

.section#section_5 .foot .become-partner, .section#section_5 .foot .job-offers {
    font-family: source_sans_probold;
    margin: 0 19px;
    display: inline-block;
    width: 222px;
    height: 62px;
    border: 1px solid #d8d8d8;
    line-height: 22px;
    font-size: 18px;
    padding: 20px 0;
    text-align: center;
    color: #cc0e59;
    cursor: pointer;
}

.section#section_5 .foot .job-offers {
    padding: 0;
    position: relative;
}

.section#section_5 .foot .job-offers > a {
    color: #cc0e59;
    display: block;
    width: 220px;
    height: 60px;
    padding: 20px 0;
}

.section#section_5 .foot .job-offers > ul {
    display: none;
    position: absolute;
    list-style: none;
    left: -1px;
    top: 60px;
    margin: 0;
    padding: 0;
    width: 222px;
    background: #cc0e59;
    overflow: hidden;
}

.section#section_5 .foot .job-offers > ul > li {
    height: 64px;
    display: block;
    margin: 0;
    border-bottom: 1px solid #d34977;
    padding: 10px 0;
}

.section#section_5 .foot .job-offers > ul > li > a {
    font-family: source_sans_probold;
    font-size: 16px;
    line-height: 22px;
    color: #fff;

}

.section#section_5 .foot::before {
    content: " ";
    display: block;
    margin: 0 auto 50px;
    padding: 44px 0 0;
    height: 0;
    width: 153px;
    overflow: hidden;
    border-bottom: 1px solid #e8e8e8;
}

#preorder_now {
    position: absolute;
    display: none;
    bottom: 0;
    background: url('../images/bg_preorder_shadow.png') 0 0 repeat-x;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

#preorder_now .content {
    height: 366px;
    margin: 39px 0 0;
    background: #fff;
    position: relative;
    overflow: hidden;
    text-align: center;
}

#preorder_now .content img {
    position: absolute;
    bottom: -88px;
    width: 100%;
    min-width: 1800px;
    z-index: 0;
    left: 0;
}

#preorder_now .content h2 {
    position: relative;
    z-index: 1;
    display: block;
    margin: 68px 0 0;
}

#preorder_now .content a {
    position: relative;
    z-index: 1;
    display: inline-block;
    font-family: 'source_sans_probold';
    line-height: 36px;
    font-size: 18px;
    color: #fff;
    padding: 12px 57px;
    background: #cc0e59;
    margin: 62px 0 0 6px;
    overflow: hidden;
}

#preorder_now .content a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: #ff1748;
    z-index: -1;
    -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}

#preorder_now .content a:hover {
    /*color: #cc0e59;*/
    text-decoration: none;
    cursor: pointer;
    /*padding: 11px 56px;*/
    /*border: #cc0e59 1px solid;*/
    /*background: none;*/
    /*background: #fff;*/
}

#preorder_now .content a:hover::before {
    opacity: 1;
    background-color: #ff1748;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}




/*content: '';*/
/*position: absolute;*/
/*top: 0;*/
/*left: 0;*/
/*width: 150%;*/
/*height: 100%;*/
/*background: #37474f;*/
/*z-index: -1;*/
/*-webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);*/
/*transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);*/
/*-webkit-transform-origin: 0% 100%;*/
/*transform-origin: 0% 100%;*/
/*-webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;*/
/*transition: transform 0.3s, opacity 0.3s, background-color 0.3s;*/

/*opacity: 1;*/
/*background-color: #3f51b5;*/
/*-webkit-transform: rotate3d(0, 0, 1, 0deg);*/
/*transform: rotate3d(0, 0, 1, 0deg);*/
/*-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);*/
/*transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);*/

#preorder_now_end {
    position: absolute;
    top: 0;
    width: 100%;
    height: 88px;
    overflow: hidden;
}

#preorder_now_end img {
    position: absolute;
    bottom: 0px;
    width: 100%;
    min-width: 1800px;
}

.slides-control {
    z-index: 0;
    top: 0;
    position: absolute !important;
}

.container {
    position: relative;
    z-index: 1;
    width: 1170px;
    margin: 0 auto;
    padding: 0;
}

.container h2, #preorder_now h2 {
    font-family: source_sans_probold;
    font-size: 48px;
    line-height: 48px;
    margin: 0;
    padding: 0;
    color: #cc0e59;
    text-align: center;
}

.container h2 span {
    font-family: source_sans_prolight;
    font-size: 36px;
    display: block;
    margin: 3px 0 0;
}

#section_1 .container h2, #section_4 .container h2 {
    color: #fff;
}

#section_5 .container h2, #section_4 #preorder_now h2 {
    color: #333333;
}

.section .container {
    margin: 120px auto 30px;
}

#menu_top {
    -webkit-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, .25);
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, .25);
    width: 100%;
    height: 84px;
    overflow: hidden;
    position: fixed;
    z-index: 3;
    background: #fff;
    display: none;
    min-width: 1170px;
}

#footer {
    font-family: source_sans_proregular;
    min-width: 1170px;
    height: 64px;
    overflow: hidden;
    position: fixed;
    z-index: 2;
    display: none;
    bottom: 0px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: #575757;
}

#footer a {
    color: #575757;
}

#footer a.lemonade {
    background: url('../images/logo_lemonade.png') no-repeat 2px 0;
    padding: 0 0 10px 24px;
}

#footer a:hover {
    color: #cc0e59;
    text-decoration: none;
}

#menu_top .logo {
    margin: 16px 0 0;
    display: block;
    float: left;
    cursor: pointer;
}

#menu_top ul {
    list-style: none;
    display: block;
    margin: 33px 0 0;
    padding: 0;
    float: right;
}

#menu_top ul li {
    float: left;
    margin: 0 26px;
}

#menu_top ul li a {
    display: block;
    line-height: 24px;
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;
    font-family: 'source_sans_prosemibold';
}

#menu_top ul li a:hover, #menu_top ul li a.active {
    color: #cc0e59;
    text-decoration: none;
    cursor: pointer;
}

#menu_top .pre-order {
    text-transform: uppercase;
    font-family: 'source_sans_probold';
    float: right;
    display: block;
    line-height: 24px;
    font-size: 14px;
    color: #fff;
    padding: 12px 29px 11px;
    background: #cc0e59;
    margin: 21px 0 0 6px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

/*#menu_top .pre-order:hover {*/
    /*color: #cc0e59;*/
    /*text-decoration: none;*/
    /*cursor: pointer;*/
    /*padding: 11px 28px 10px;*/
    /*border: #cc0e59 1px solid;*/
    /*margin: 21px 0 0 6px;*/
    /*background: none;*/
/*}*/

#menu_top .pre-order::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: #ff1748;
    z-index: -1;
    -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}

#menu_top .pre-order:hover {
    text-decoration: none;
    cursor: pointer;
}

#menu_top .pre-order:hover::before {
    opacity: 1;
    background-color: #ff1748;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

#fp-nav.right {
    right: 26px;
}

#fp-nav ul li, .fp-slidesNav ul li {
    width: 20px;
    height: 20px;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span, #fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span {
    width: 20px;
    height: 20px;
    background: #e6e6e6;
    margin: 0;
    top: 0;
    left: 0;
}

#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span {
    width: 20px;
    height: 20px;
    background: #cc0e59;
    margin: 0;
}

#fp-nav ul li .fp-tooltip {
    top: 0;
    color: #ff297e;
    font-family: 'source_sans_prosemibold';
}

#fp-nav ul li .fp-tooltip.right {
    right: 25px;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.popup {
    border: 1px solid #eaeaea;
    width: 980px;
    background: #fff;
    margin: 23px auto 0;
    display: none;
}

.popup .logo {
    width: 144px;
    height: 80px;
    background: url('../images/logo.png') no-repeat 0 0;
    margin: -24px auto 0;
}

.popup .title {
    font-family: 'source_sans_probold';
    margin: 55px 0 54px;
    padding: 0;
    text-align: center;
    line-height: 40px;
    font-size: 48px;
    color: #cc0e59;
}

.popup form {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
}

.popup form > div {
    display: inline-block;
    width: 580px;
    position: relative;
}

.popup form > div.checkbox {
    display: block;
    text-align: center;
    width: 100%;
    margin: 33px 0 0;
}

.popup form > div.small {
    width: 250px;
    margin: 0 40px;
}

.popup form > div label, .popup form > div label.error, .popup form > div.checkbox label.error {
    display: block;
    width: 100%;
    color: #cc0e59;
    font-family: 'source_sans_proregular';
    font-size: 12px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 0;
    text-align: left;
}

.popup form > div label.animated {
    z-index: 2;
}

.popup form > div input[type=text], .popup form > div input[type=password], .popup form > div input[type=email], .popup form > div textarea {
    display: block;
    outline: none;
    border: 0;
    border-bottom: 1px solid #cdcdcd;
    width: 100%;
    line-height: 24px;
    font-size: 18px;
    padding: 20px 0 7px;
    margin: -20px 0 16px;
    color: #333333;
    background: #fff;
    position: relative;
    z-index: 1;
}

.popup form > div textarea {
    height: 124px;
    resize: none;
}

.popup form > div input[type=text].filled, .popup form > div input[type=password].filled, .popup form > div input[type=email].filled, .popup form > div textarea.filled,
.popup form > div input[type=text]:focus, .popup form > div input[type=password]:focus, .popup form > div input[type=email]:focus, .popup form > div textarea:focus {
    padding: 0 0 7px !important;
    margin: 0 0 16px !important;
}

.popup form > div textarea:focus, .popup form > div textarea.filled {
    height: 104px;
}

.popup form > div *::-webkit-input-placeholder {
    color: #b7b7b7;
}

.popup form > div *:-moz-placeholder { /* Firefox 18- */
    color: #b7b7b7;
}

.popup form > div *::-moz-placeholder {  /* Firefox 19+ */
    color: #b7b7b7;
}

.popup form > div *:-ms-input-placeholder {
    color: #b7b7b7;
}

.popup form > div *:focus::-webkit-input-placeholder {
    color: #fff;
}

.popup form > div *:focus:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}

.popup form > div *:focus::-moz-placeholder {  /* Firefox 19+ */
    color: #fff;
}

.popup form > div *:focus:-ms-input-placeholder {
    color: #fff;
}

.popup form > div.checkbox input[type=checkbox] {
    opacity: 0;
    height: 0px;
}
.popup form > div.checkbox input[type=checkbox] + label#agreementLabel,
.popup form > div.checkbox input[type=checkbox] + label + label#agreementLabel {
    color: #333333;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
}
.popup form > div.checkbox input[type=checkbox] + label#agreementLabel span,
.popup form > div.checkbox input[type=checkbox] + label + label#agreementLabel span {
    display:inline-block;
    width:17px;
    height:17px;
    margin: 6px 9px 0 0;
    vertical-align: top;
    background:url('../images/check_radio_sheet.png') left bottom no-repeat;
    cursor:pointer;
    overflow: hidden;
}
.popup form > div.checkbox input[type=checkbox]:checked + label#agreementLabel span,
.popup form > div.checkbox input[type=checkbox]:checked + label + label#agreementLabel span {
    background:url('../images/check_radio_sheet.png') left top no-repeat;
}

.popup form > div a.submit {
    position: relative;
    z-index: 1;
    display: inline-block;
    font-family: 'source_sans_probold';
    line-height: 36px;
    font-size: 18px;
    color: #fff;
    padding: 13px 81px 11px;
    background: #cc0e59;
    margin: 42px 0 65px 6px;
    border: 0;
    overflow: hidden;
}

.popup form > div a.submit::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: #ff1748;
    z-index: -1;
    -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}

.popup form > div a.submit:hover {
    text-decoration: none;
    cursor: pointer;
}

.popup form > div a.submit:hover::before {
    opacity: 1;
    background-color: #ff1748;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.popup form > div a.attachment {
    display: inline-block;
    font-size: 18px;
    line-height: 36px;
    color: #cc0e59;
    font-family: 'source_sans_probold';
    margin: 17px 0 -8px;
    text-decoration: underline;
}

.popup form > div a.attachment:hover {
    color: #333333;
    cursor: pointer;
}

.popup form > div a.submit:hover {
    /*color: #cc0e59;*/
    /*text-decoration: none;*/
    /*cursor: pointer;*/
    /*padding: 12px 80px 10px;*/
    /*border: #cc0e59 1px solid;*/
    /*background: none;*/
    /*background: #fff;*/
}

.popup.partner form > div a.submit {
    margin: 18px 0 55px 6px;
}

.overlay {
    width: 100%;
    height: 100%;
    background: url('../images/bg_overlay.png') repeat 0 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    display: none;
}

.popup.job {
    /*display: block;*/
}

.popup.preorder {
    /*display: block;*/
}

.popup.partner {
    /*display: block;*/
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 20%, 0);
        transform: translate3d(0, 20%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 20%, 0);
        transform: translate3d(0, 20%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-20%, 0, 0);
        transform: translate3d(-20%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-20%, 0, 0);
        transform: translate3d(-20%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(20%, 0, 0);
        transform: translate3d(20%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(20%, 0, 0);
        transform: translate3d(20%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

#section_0 .teasers {
    animation-delay: 300ms;
}

#section_0 .pre-order, #section_0 .separator, #section_0 .learn-more {
    animation-delay: 600ms;
}

#section_1.section .left > div > div + div {
    animation-delay: 300ms;
}

#section_2 .items .item + .item {
    animation-delay: 300ms;
}

#section_2 .items .item + .item + .item {
    animation-delay: 600ms;
}

#section_3 .items .item {
    animation-delay: 600ms;
}

#section_3 .items .item + .item {
    animation-delay: 300ms;
}

#section_3 .items .item + .item + .item {
    animation-delay: 0ms;
}

#section_3 .foot {
    animation-delay: 900ms;
}

#section_4 .top {
    animation-delay: 300ms;
}

#section_4 .item {
    animation-delay: 300ms;
}

#section_4 .separator {
    animation-delay: 300ms;
}

#section_4 .foot {
    animation-delay: 600ms;
}

#section_5 .item {
    animation-delay: 300ms;
}

#section_5 .foot {
    animation-delay: 600ms;
}

.fileUpload input {
    height: 0;
    margin: 0 auto;
    opacity: 0;
}

label.error {
    text-align: center !important;
    position: absolute !important;
    bottom: -5px;
}

.fileUpload label.error, .checkbox label.error {
    text-align: center !important;
    position: absolute !important;
    bottom: -20px;
}